/* Global */
.products-screen {
  display: flex;
  flex-direction: row;
}

.products-screen-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.dropdowns {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.products-screen-container {
  margin: 0 auto;
}

.ui-card {
  width: calc(25% - 1.5em);
  margin-left: 0.75em;
  margin-right: 0.75em;

  display: flex;
  margin: 0.875em 0.5em;
  float: none;
}

.products-screen-endpoint {
  width: 1.2vw;
  height: 5vh;
  margin: 5vh auto;
}

/* Mobile */
@media (max-width: 500px) {
}

/* Desktop */
@media (min-width: 501px) {
}
