/* Global */
.product-item-container,
.product-item-reviews-container {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.product-item-reviews-container {
  width: 100%;
  padding: 1%;
}

.product-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* Mobile */
@media (max-width: 400px) {
}

/* Desktop */
@media (min-width: 401px) {
  .product-item-container {
    width: 100%;
  }

  .product-item-top {
    display: flex;
    flex-direction: row;
  }

  .product-item-bottom {
    padding: 3%;
  }
}
